
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Welcome Message</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row-fluid" style="text-align:center">
                    <h1>Welcome to MJL System</h1>
                </div>
            </div>
        </div>
    </div>
</div>


