/*Custom*/
.selected,
.table-striped > tbody > tr.selected:nth-child(2n+1) > td,
.table-striped > tbody > tr.selected:nth-child(2n+1) > th,
.table-hover > tbody > tr.selected:hover > td,
.table-hover > tbody > tr.selected:hover > th{
    background-color: #3c8dbc !important;
    color: #ffffff !important;
}

.error {
    color:red;
}

.closeon:hover, .editon:hover {
    color:#dddddd;
}