<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">MJL Authentication</h5>
                <small style="color:red" class="error_remarks"></small>
                <form id="formAuthentication">
                    <div class="form-group">
                        <label for="password">Username / Email</label>
                        <input type="text" class="form-control" id="Username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-login">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        
        $("#formAuthentication").submit(function (event) {
            event.preventDefault();
            $(".btn-login").attr("disabled", "disabled");
            $.ajax({

                url: '../Session/Login',
                type: 'POST',
                data: {
                    username: $("#Username").val(),
                    Password: $("#Password").val(),
                },
                success: function (data) {
                    $(".btn-login").removeAttr("disabled");
                    if (data.remarks == "success") {
                        $("#sessionModal").modal('hide');
                    } else {
                        $(".error_remarks").text(data.remarks);

                    }
                }
            });
        });

    });


</script>